/*
CSS : Cascading Style Sheet ou feuille de style en cascade

pour appliquer un style à un élément de la page, il faut : 
     - déclarer le sélecteur CSS de l'élément
*/
@import url('./all.css');
:root{
    font-family: Arial, Helvetica, sans-serif;
    /*
    il est possible de déclarer des variables en CSS
    */
    --header-background: rgba(139, 0, 0, 1); 
    /*
    # => annonce une couleur rvb codée en héxadécimal 00 ff => 00 = 0, ff = 255 
    en héxa f = 15 => ff
    8b rouge, base dec 139, 00 vert => 0, 00 bleu => 0
    */
    --article-background: rgba(139, 0, 0, 0.5);
    --general-link-colors: #F22233;
    --body-background-color: #F2EBDC; /* la couleur de fond de l'élément body */
    --body-color:#0B0D09; /* la couleur de la police dans body */
    --fieldset-border-color: #736451;
    --input-border-color: #40382A;
}

*, *::before, *::after{
    box-sizing: border-box;
}

/*
dimension les plus vues en web :
px      =>  Pixel
em      =>  cadratin : unité de mesure en print sur les presses
            le cadratin se calcul par rapport à son parent
rem     =>  cadratin racine : se calcul par rapport à la taille racine de police
%       =>  pourcentage, se calcule par rapport à l'élément qui le contient
vw & vh =>  viewport width & viewport height : correspond à la taille 
            d'affichage de la page en largeur et en hauteur
            si affichage en largeur 768px alors 20vw = 153.6 px

si 2em = 32 px, 1em = 16px

*/

/* 
les classes css
*/


/*
les règles css des éléments solo et / ou génériques
*/
h1, ul, body{
    margin: 0;
    /*
    margin-top:
    margin-left:
    margin-bottom:
    margin-right:
    */
}

h1{
    font-size: 4rem;
}

ul{
    list-style-type:none;
    padding-inline-start: 0;
}

a, a:visited{
    color: var(--general-link-colors);
    text-decoration:none;
    font-weight: bold;
    /*
    text-transform: uppercase;
    */
}

img{
    max-width: 100%;
}

/*
le css appliqué aux éléments de l'architecture
*/

body{
    background-color: var(--body-background-color);
    color: var(--body-color);
}

body > header{
    display: flex;
    /*height: 100vh;*/
    height: calc( 100vh - 2rem );
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../images/alice/alice-in-wonderland-queen-s-cards.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center center;
}

body > header > h1,
body > header > small{
    color: var(--body-background-color);
    text-shadow: 0 0 10px black;
}

body > header > small{
    font-size: 2rem;
}

body > nav > ul{
    display: flex;
    line-height: 2rem;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--general-link-colors);
    border-bottom: 1px solid var(--general-link-colors);
}

body > nav > ul > li > a{
    display: block;
    padding-left: 15px;
    padding-right: 15px;
    background-color: var(--body-background-color);
    color: var(--general-link-colors);
}

body > nav > ul > li > a:hover,
body > nav > ul > li > a:focus{
    background-color: var(--general-link-colors);
    color: var(--body-background-color);
}

body > main{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

article form{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

article form fieldset{
    border: 1px dashed var(--fieldset-border-color);
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px var(--fieldset-border-color);
}

article form legend{
    border: 1px dashed var(--fieldset-border-color);
    padding: 5px;
    border-radius: 5px;
    background-color: var(--body-background-color);
    box-shadow: 2px 2px 2px var(--fieldset-border-color);
}

article form fieldset p{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

article form label,
article form input[type="text"],
article form input[type="tel"],
article form input[type="email"],
article form select{
    line-height: 1.5rem;
    border-radius: 2px;
    width: 45%;
}

article form input[type="text"],
article form input[type="tel"],
article form input[type="email"],
article form select,
form textarea{
    border:1px solid var(--input-border-color);
    padding-left: 5px;
    border-radius: 2px;
}

form textarea{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
}

label.radio{
    width: 100%;
}

.spacer{
    width: 45%;
    height: 1.5rem;
}

@media print{
    body > header{
        height: unset;
        background: unset;
    }

    body > header > h1,
    body > header > small{
        text-shadow: unset;
        color: black;
    }

    body > nav, audio, video, body > footer{
        display: none;
    }

    img{
        width: 50%;
    }

    
}